// email.handlebars

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Results Email</title>
  </head>
  <body>
    <h2>Hello {{name}}! </h2>
    <p>We're glad to send your results. Find attachement below </p>
  </body>
</html>