@use '@carbon/layout';
@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;
@use '@carbon/type';
.buttonSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: layout.$spacing-03;
  width: 100%;
}

.nameOrder {
  font-size: type.type-scale(2);
}

.actionButtons {
  display: flex;
  gap: layout.$spacing-03;
  align-items: center;
}

.menuLink {
  display: inline-flex;
}

.orderDetailsContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: layout.$spacing-05;
  margin-left: layout.$spacing-13;
  background-color: colors.$white-0;
  margin: layout.$spacing-05 0;
}

.orderUrgency {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 layout.$spacing-03;
  margin-bottom: layout.$spacing-03;
}

.orderHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-bottom: layout.$spacing-03;
}
.orderNumber {
  font-size: type.type-scale(2);
}
.orderStatus {
  font-size: type.type-scale(2);
}

.orderDate {
  text-align: right;
  font-size: type.type-scale(2);
}

.instructions {
  text-align: justify;
  font-size: type.type-scale(1);
}
.urgencyStatus {
  font-size: type.type-scale(2);
}
.instructionLabel {
  font-weight: bold;
  font-size: type.type-scale(2);
}
