@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/colors';

.tableContainer {
  background-color: colors.$gray-10;
  margin: 0 spacing.$spacing-05;
  padding: 0;

  :global(.cds--data-table-content) {
    overflow-x: unset;
  }

  a {
    text-decoration: none;
  }

  th {
    color: colors.$gray-70;
  }

  :global(.cds--data-table) {
    background-color: colors.$gray-20;
  }

  :global(.cds--table-toolbar) {
    position: static;
    margin: 0.5rem;
  }

  :global(.cds--overflow-menu) {
    width: 75%;
  }

  .toolbarContent {
    height: spacing.$spacing-07;
    margin-bottom: spacing.$spacing-02;
  }
}

.toolbarItem {
  display: flex;
  margin: 5px 10px;
  align-items: center;

  & p {
    padding-right: 5px;
    @include type.type-style('body-01');
    color: colors.$gray-70;
  }
}



.tableWrapper tr:last-of-type {
  td {
    border-bottom: none;
  }
}

.tileContainer {
  background-color: colors.$white;
  border-top: 1px solid colors.$gray-20;
  padding: 5rem 0;
}

.tile {
  margin: auto;
  width: fit-content;
}

.tileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  @include type.type-style('heading-compact-02');
  color: colors.$gray-70;
  margin-bottom: 0.5rem;
}

.singleLineDisplay {
  white-space: nowrap;
}