@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import "~@openmrs/esm-styleguide/src/vars";

.checkbox {
    margin: "10px";
    font-size: "15px";
    font-weight: "bold";
}

.valueWidget {
    margin-left: "10px"
}