@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.cardContainer {
  background-color: $ui-02;
  display: flex;
  flex-wrap: wrap;
  padding: 0 spacing.$spacing-05 spacing.$spacing-10 spacing.$spacing-03;
  gap: spacing.$spacing-01;
}

.cardContainer > div {
  flex: 1 1 300px;
  box-sizing: border-box;
}
