@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/layout';
@use '@carbon/colors';

.menuItem {
  max-width: none;
}
.actionButton {
 margin-top: layout.$spacing-01;
}
.addPatientToQueue {
  --cds-layout-size-height-context: var(--cds-layout-size-height-sm, 2rem);
  --cds-layout-size-height: var(--cds-layout-size-height-context);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 spacing.$spacing-04;
  gap: 1rem;
}
