@use '@carbon/layout';
@use '@carbon/type';
@import '~@openmrs/esm-styleguide/src/vars';

.container {
  margin: layout.$spacing-05;
}

.button {
  height: 4rem;
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  min-width: 50%;

  :global(.cds--inline-loading) {
    min-height: 1rem !important;
  }

  :global(.cds--inline-loading__text) {
    font-size: unset !important;
  }
}

.tablet {
  padding: 1.5rem layout.$spacing-05;
  background-color: $ui-02;
  margin-top: auto;
}

.desktop {
  padding: 0rem;
  margin-top: auto;
}

.emptyFormError {
  margin: 0.625rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 6rem);
}

:global(.omrs-breakpoint-lt-desktop) .form {
  background-color: #ededed;
}

:global(.omrs-breakpoint-gt-tablet) .form {
  background-color: $ui-02;
}
